<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Chart Prototype</title>

        {{#each stylesheets}}
            <link rel="stylesheet" href="{{this}}">
        {{/each}}

    </head>

    <body>
        {{{chartTemplate}}}

        <img class="key" src="key.png">

    </body>

    {{#each scripts}}
        <script type="text/javascript" src="{{this}}"></script>
    {{/each}}

</html>
