<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Chart Prototype</title>

        {{#each stylesheets}}
            <link rel="stylesheet" href="{{this}}">
        {{/each}}

        {{#each scripts}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}

    </head>

    <body>
        <svg id="mainChart" width="1" height="1">
            <defs>
                <linearGradient id="backgroundGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop class="top" offset="0%"/>
                    <stop class="bottom" offset="100%"/>
                </linearGradient>
            </defs>

            <g transform="translate(0.5,0.5)">
                <rect class="bg"
                      width="800" height="600" x="0" y="0"
                        ></rect>

                <g class="data">
                    <path class="lessLikely"></path>
                    <path class="moreLikely"></path>
                    <path class="median"></path>
                </g>

                <g class="axes">
                    <rect class="chartArea"></rect>
                    <g class="startLine">
                        <line></line>
                        <circle r="15"></circle>
                    </g>
                    <g class="x">
                        <g class="major"></g>
                        <g class="minor"></g>
                    </g>
                    <g class="y">
                        <g class="minor"></g>
                        <g class="major"></g>
                    </g>
                </g>

                <g class="goals"></g>


                <g class="priceTooltip label">
                    <path d="M0,0L12,12L70,12L70,-12L12,-12z"></path>
                    <text dy="5" x="14"><tspan>£</tspan><tspan class="number">54</tspan></text>
                </g>
                <path class="median hoverSpace"></path>
                <g class="arrows">
                    <g class="arrow previous">
                        <rect transform="translate(-17,-35)" rx="4" ry="4" width="34" height="70"></rect>
                        <path transform="translate(-5,0)" d="M10,-10L0,0L10,10"></path>
                    </g>
                    <g class="arrow next">
                        <rect transform="translate(-17,-35)" rx="4" ry="4" width="34" height="70"></rect>
                        <path transform="scale(-1), translate(-5,0)" d="M10,-10L0,0L10,10"></path>
                    </g>
                </g>
            </g>
        </svg>

        <input type=range min=1 max=18 value=1 id=zoomer>

        <img class="key" src="key.png">

    </body>
</html>
