$chartBgDark: #003C57;
$chartBgLight: #004C6D;

$goodProbability: #65B74D;

$chartMajorLine: rgba(255, 255, 255, 0.6);
$chartMinorLine: rgba(255, 255, 255, 0.3);

$shadingMoreLikely: #8FADBC;
$shadingLessLikely: #57899E;

$medianLine: #FDFEFF;

body {
  background: $chartBgLight;


   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size:90%;
}

#mainChart {

  .axes {
    .chartArea {
      fill: none;
      stroke: #B7C8D0;
    }

    .tick text {
      fill: white;
    }

    .x {
      .tick {
        line {
          stroke: $chartMinorLine;
          stroke-width: 1;
        }
        line.extend {
          stroke: $chartMajorLine;
        }
        text {
          text-anchor: middle;
        }
      }
      .major line.extend {
        stroke: white;
      }
    }

    .y {
      text {
        text-anchor: middle;
      }

      .major .tick line{
        stroke: $chartMajorLine;
      }
      .minor .tick line{
        stroke: $chartMinorLine;
      }
    }
  }

  .data {
    .median {
      stroke: #FDFEFF;
      stroke-width:2;
      fill: none;
    }
    .lessLikely {
      stroke:none;
      fill: $shadingLessLikely;
    }
    .moreLikely {
      stroke:none;
      fill: $shadingMoreLikely;
    }
  }

  .median.hoverSpace {
    stroke-width: 30px;
    fill:none;
    stroke: white;
    opacity:0;
  }

  .goals {
    .goal {
      circle {
        fill: #1A93C2;
        stroke: #063D56;
        stroke-width: 1.5;
      }
      rect {
        fill: $goodProbability;
        stroke: rgba(black, 0.2);
        stroke-width: 1;
      }
      text {
        fill: white;
      }
    }
    &:not(.isBig) text,
    &:not(.isBig) rect {
      display:none;
    }
  }

  .startLine {
    line {
      stroke: white;
      stroke-width: 2;
    }
    circle {
      fill:white;
    }
  }

  #backgroundGradient stop.top {
    stop-color: #003C57;
    stop-opacity: 1;
  }

  #backgroundGradient stop.bottom {
    stop-color: #004C6D;
    stop-opacity: 1;
  }

  .bg {
    fill: url('#backgroundGradient');
  }

  .label {
    rect, path {
      fill: rgba($chartBgDark, 0.8);
      stroke: $chartMinorLine;
      stroke-width: 1.5px;
    }

    text {
      fill:white; stroke: none;
    }
  }


}

img.key {
  display: block;
  margin-left:413px;
  margin-top:-15px;
}

