$chartBgDark: #003C57;
$chartBgLight: #004C6D;

$chartMajorLine: #B7C8D0;
$chartMinorLine: #37768F;

$shadingCertain: #8FADBC;
$shadingUncertain: #57899E;

$medianLine: #FDFEFF;

body {
  background: white;
}

#mainChart {

  .axes {
    .chartArea {
      fill: none;
      stroke: #B7C8D0;
    }

    .tick text {
      fill: $chartMajorLine;
    }

    .x {
      .tick.major line {
        stroke: $chartMinorLine;
        stroke-width: 2;
      }
      .tick text {
        text-anchor: middle;
      }
    }

    .y {
      .tick {
        line {
          stroke: $chartMajorLine;
        }
        text {
          text-anchor: middle;
        }
      }
    }
  }

  #backgroundGradient stop.top {
    stop-color: #003C57;
    stop-opacity: 1;
  }

  #backgroundGradient stop.bottom {
    stop-color: #004C6D;
    stop-opacity: 1;
  }

  .bg {
    fill: url('#backgroundGradient');
  }

  .label rect {
    fill: $chartBgDark;
    stroke: $chartMajorLine;
    stroke-width: 1.5px;
  }
}
